# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\CAMPUS STUFF (DO NOT DELETE)\2nd YEAR\1st Semester\Object Oriented Programming\Coursework\Coding\1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
